*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:rgb(184, 126, 241);
}

h1{
    text-align: center;
    font-size: 5rem;
    opacity: 0.7;
    margin: 3rem;
    cursor: pointer;
    color: rebeccapurple;
}

form{
    margin: auto;
    max-width: 100%;
    width: 400px;
}

.input{
    font-size: 0.9rem;
    display: block;
    width: 100%;
    padding: 0.7rem 2rem;
    outline: none;
    border: 2px solid rgb(138, 94, 182);
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    background-color: rgb(252, 247, 247);
}

.todos{
    background-color: rgb(252, 247, 247);
    padding: 0;
    margin-top: 10%;
    list-style: none;
    border-radius: 3px;
}

.todos li{
    padding: 0.7rem 2rem;
    font-size: 1.1rem;
    box-shadow: 0 4px 5px rgba(0,0,0,0.1);
}