*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: pink;
}

.container{
    text-align: center;
}

p{
    margin-top: -2%;
    font-size: 1.2rem;
}

header{
    font-size: 3rem;
}

header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 0.05rem;
    border: none;
    outline: none;
    color: rgb(78,77,77);
}

button:hover{
    
}

input[type="text"]{
    width: 20%;
    padding: 0.4rem;
    font-size: 0.8em;
    outline: none;
    border: none;
    background: white;
}

